body{

font-family:Arial;
text-align:center;
background:#f2f2f2;

}

.foods{

display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;

}

.card{

background:white;
padding:20px;
width:200px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);

}

button{

background:red;
color:white;
border:none;
padding:10px;
margin:5px;
cursor:pointer;

}

button:hover{

background:darkred;

}

input{

padding:10px;
width:200px;

}